<h1>ChatRooms#new</h1>
<p>Find me in app/views/chat_rooms/new.html.erb</p>


<%= form_for :chat_room, url: chat_rooms_path do |f| %>
<table>
  <tr>
    <th></th>
    <th>room_name</th>
    <th></th>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <%= f.text_field :chat_name %>
    </td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>

<% end %>
