<h1>CreateUser</h1>

<%= form_for :user, url: users_path do |f| %>

<p>
  name
  <%= f.text_field :name %><br>
  pass
  <%= f.text_field :password_digest %><br>
  <%= f.submit "CreateUser" %>
</p>
<% end %>
