<h1>Chats#new</h1>
<p>Find me in app/views/chats/new.html.erb</p>
<%= form_for :chat, url: chats_path do |f| %>
<p>
  <p>
    <%= f.text_field :user_id, :size=>"2" %><br>
    <%= f.text_area :content, :size=>"100%" %>
  </p>
    <%= f.submit %>
</p>
<% end %>
